.banner.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 35px;
  margin: 0 35px;
  padding: 12vw 0 50px 0;
}

.banner.title {
  font-size: 9vw;
  max-width: 100%;
  grid-column: 2 / span 7;
  margin-bottom: 0px;
}

#split-box {
  display: block;
  text-align: start;
  position: relative;
  white-space: nowrap;
  margin-bottom: -0.12em;
  padding: 0px 0px 0.12em;
  /* overflow: hidden; */
  padding: .1em;
}

.split {
  position: relative;
  display: inline-block;
  color: #3A3A1F;
  /* Start invisible */
  opacity: 0;
  /* Start shifted to the left */
  transform: translateX(-50px);
  filter: blur(5px);
}

.animate {
  animation: splitIntro 1s ease forwards;
}


/* make each letter animate sequentially */
.split:nth-child(1) {
  animation-delay: 0.1s;
}

.split:nth-child(2) {
  animation-delay: 0.12s;
}

.split:nth-child(3) {
  animation-delay: 0.14s;
}

.split:nth-child(4) {
  animation-delay: 0.4s;
}

.split:nth-child(5) {
  animation-delay: 0.45s;
}

.split:nth-child(6) {
  animation-delay: 0.5s;
}

.split:nth-child(7) {
  animation-delay: 0.9s;
}

.split:nth-child(8) {
  animation-delay: 1.2s;
}

.split:nth-child(9) {
  animation-delay: 1.5s;
}


@keyframes splitIntro {
  0% {
    opacity: 0;
    transform: translateX(-50px);
    filter: blur(4px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes simpleIntro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tagline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* Space between tagline and button */
  grid-column: 2 / span 5;
  /* Adjust as necessary */
  margin-top: 20px;
  /* Adjust for positioning */
}

.tagline {
  font-size: 1.5vw;
  /* Adjust for desired size */
  opacity: 0;
}

.banner.grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 35px;
  margin: 0 35px;
  padding: 12vw 0 50px 0;
}

.banner.title {
  font-size: 9vw;
  max-width: 100%;
  grid-column: 2 / span 7;
  margin-bottom: 0px;
}

#split-box {
  display: block;
  text-align: start;
  position: relative;
  white-space: nowrap;
  margin-bottom: -0.12em;
  padding: 0px 0px 0.12em;
  /* overflow: hidden; */
  padding: .1em;
}

.split {
  position: relative;
  display: inline-block;
  color: #3A3A1F;
  /* Start invisible */
  opacity: 0;
  /* Start shifted to the left */
  transform: translateX(-50px);
  filter: blur(5px);
}

.animate {
  animation: splitIntro 1s ease forwards;
}


/* make each letter animate sequentially */
.split:nth-child(1) {
  animation-delay: 0.1s;
}

.split:nth-child(2) {
  animation-delay: 0.12s;
}

.split:nth-child(3) {
  animation-delay: 0.14s;
}

.split:nth-child(4) {
  animation-delay: 0.4s;
}

.split:nth-child(5) {
  animation-delay: 0.45s;
}

.split:nth-child(6) {
  animation-delay: 0.5s;
}

.split:nth-child(7) {
  animation-delay: 0.8s;
}

.split:nth-child(8) {
  animation-delay: 0.9s;
}

.split:nth-child(9) {
  animation-delay: 1s;
}


@keyframes splitIntro {
  0% {
    opacity: 0;
    transform: translateX(-50px);
    filter: blur(4px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    filter: blur(0);
  }
}

@keyframes simpleIntro {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.tagline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  grid-column: 2 / span 5;
  margin-top: 20px;
}

.tagline {
  font-size: 1.5vw;
  opacity: 0;
}

.call-to-action {
  opacity: 0;
  display: inline-block;
  grid-column: 2 / 3;
  font-size: 1.2rem;
  padding: 10px 20px;
  border: 2px solid #3A3A1F;
  /* Olive border */
  border-radius: 30px;
  background: linear-gradient(to top, transparent 50%, #3A3A1F 50%);
  /* Gradient starting transparent */
  background-size: 100% 200%;
  /* Background is twice the button's height */
  background-position: 100% 100%;
  /* Initially positioned at the bottom */
  color: #3A3A1F;
  transition: background-position 0.4s ease, color 0.4s ease, border-color 0.4s ease;
}

.call-to-action:hover {
  background-position: 100% 0%;
  color: white;
  border-color: #3A3A1F;
}

.animate-2 {
  animation: simpleIntro 2s ease forwards;
  animation-delay: 1s;
}
